<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <variable
            name="logPattern"
            value="%-30(%d{MMM dd YYYY HH:mm:ss.SSS} %magenta([%thread])) %highlight(%-5level) %logger{5} [%file:%line] - %msg%n"/>


    <variable
            name="logname" value="${user.home}/BMAC_IMS/logs/IMS"/>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>


    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--
          See http://logback.qos.ch/manual/appenders.html for details.
        -->
        <file>${logname}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>\${logname}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>


    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>